@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

table {
  text-align: left;
}
td {
  vertical-align: middle;
}
.activeOrder {
  display: flex;
  justify-content: center;
  table {
    text-align: left;
    margin: 1rem 1rem;
    border-radius: 1rem;
    width: auto;
    max-width: 90%;
    box-shadow: 2px 2px 6px #00000061;
    &::-webkit-scrollbar{height:6px;}
    &::-webkit-scrollbar-thumb{background-color: #757575;border-radius: 0.5rem;}
    &::-webkit-scrollbar-track{background-color: whitesmoke;border-radius: 0.5rem; margin: 0rem 0.6rem;}
  }
}

.orders-container {
  //background-color: rgb(231, 222, 223);
  height: 90%;
  overflow-y: auto;
}

.noOrder{
  display:flex;
  // justify-content: center;
  // align-items: center;
  font-size: 1.5rem;
  margin-top:5rem;
  color:#e7155b;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;

}
