mat-toolbar{
    display: flex;
    justify-content: space-between;
}


.controls{
    width: 60%;
    margin: 2% 0 2% 20%;
}

a{
    &:hover{
        background-color: lightskyblue;
    }
}

button{
    outline: none;
}

svg{
    position: fixed;
    bottom: -27%;
    left:-10%;
    width: 120vw;
    z-index: -1;
    @media (max-aspect-ratio: 1/1) {
    height: 50vh;
    bottom: -7%;
    transform: scale(2.3);
    left: -20%;
    }

  }

  .active{
    background-color: white;
    color: #fd266e;
 }