.card {
  width: 20rem;
  height: 29rem;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.22);
  img {
    width: 100%;
    height: 35%;
    object-fit: cover;
    border: none;
  }
  // background-color: pink;
}
ul {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-flow: row wrap;
}
li {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  button {
    position: absolute;
    bottom: 2%;
    right: 30%;
  }
}
mat-card-title {
  color: rgb(243, 11, 100);
  text-transform: uppercase;
  text-align: left;
  font-size: large;
  font-weight: bold;
}
mat-card-subtitle {
  color: rgb(48, 47, 54);
  font-family: cursive;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
}
mat-card-content {
  color: rgb(53, 51, 51);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  b {
    color: rgb(48, 47, 54);
  }
}
.mat-card-image {
  margin: 0rem 0rem 1rem 0rem;
  border: none;
}
.footerSpace {
  height: 25%;
}
.field {
  // label{
  //     padding-left: 40%;
  // }
  text-align: center;
}

// .form-control{
//     padding-left: 60%;
// }
.container {
  margin-top: 2rem;
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .deletebutton{
//     margin-right: -10%;
// }
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f44336;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
#footer {
  display: none;
}

img.lets-try {
  background: transparent url("../../../../../assets/loading.gif") no-repeat
    scroll center center;
}
