.main-image {
  margin-left: 35%;
  width: 30%;
  height: 30%;
}
h4 {
  margin-top: 4%;
  margin-left: 41%;
}

.buttons {
  .orders {
    margin-left: 41%;
    background-color: #f44336;
    color:white;
      &:hover{
        background-color: #fc7369;
      }
  }
  .shop {
    margin-left: 1%;
    background-color: #f44336;
    color:white;
      &:hover{
        background-color: #fc7369;
      }
  }
}

app-footer {
  width: 100%;
  position: absolute;
  bottom: 0%;
}

@media all and(max-width:600px) {
  .checkout-container{
    height:100vh;
    padding-top:10vh;
  }
  .main-image {
    margin-left: 12%;
    width: 70%;
    // height: 40%;
  }
  h4 {
    margin-left: 18%;
  }
   .buttons {
    .orders {
      margin-left: 20%;
    }
    .shop {
      margin-left: 1%;
    }
  }
  app-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom:-0.6rem;
  }
}
