* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(231, 222, 223);
  height: 90%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
}
// .container {
//   padding-left: 4%;
// }
.container{
  padding-left: 4%;
  .row{
      .col-sm-5{
          .panel-heading{
          background-color:#f73378}
          .panel-body{
            text-align: center;
            font-size: 5pc
          }
      }
      
  }
}
