<!-- 
<div class="image-container">
<button routerLink="/admin" class="btn">Admin</button>
</div> -->

<!-- <mat-toolbar style="background-color: white;">
    <img src="../../../assets/logo-main.png" class="logo" width="10%">
    <span class="example-spacer"></span>
      <button class="btn btn-secondary" routerLink="admin">Admin</button>
</mat-toolbar>

<div class="main-container">
    <div class="text-content">
        <h2 class="first">Coming</h2>
        <h1 class="second">Soon</h1>
        <button type="button" class="btn btn-outline-primary">Contact Us</button>
    </div>
    <div>
        <img src="../../../assets/ice_cream_frames-07.png" alt="">
    </div>
</div> -->

<!-- <button class="btn btn-secondary" routerLink="admin">Admin</button> -->

<!-- new codes -->
