<div class="main">
<app-header></app-header>
<div class="container">
    <h3>
      ! Welcome ! 
    </h3>
    <p class="emailVerify">Please verify your email</p>
    <div id="cotter-form-container" style="width: 300px; height: 200px;"></div>
    <div *ngIf="success" id="user-response">
      <div class="success">Verification Success</div>
      <br/>
    </div>
    <div class="exist-message" *ngIf="emailAlredyExist">

      <div class="alert alert-danger" role="alert">
        <strong>Email ID already exists!</strong> Try Login.
      </div>
      
    </div>
  </div>
<app-footer></app-footer>
</div>